<?xml version="1.0" encoding="utf-8"?>
<Media Key="03e24805-024d-43e5-99b7-1d018675f8d3" Alias="Avatar3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Avatar3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-22T22:57:06</CreateDate>
    <NodeName Default="Avatar3" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aneoea0n/avatar3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>