<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb5a5938-9df2-48e5-ac16-97f5511baf87" Alias="avatarer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/avatarer</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-02T10:23:49</CreateDate>
    <NodeName Default="avatarer" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties />
</Media>