<?xml version="1.0" encoding="utf-8"?>
<Media Key="42f2ccad-8c60-47b9-98a6-032fc2a4c844" Alias="Avatar1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Avatar1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-22T22:57:06</CreateDate>
    <NodeName Default="Avatar1" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vpgpeqta/avatar1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>