<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb2bfa03-3e06-41f3-ac55-c66711c70416" Alias="Definition" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Definition</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-22T22:38:02</CreateDate>
    <NodeName Default="Definition" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ax3cx4yg/definition.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>