<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcd2a1ba-87a9-49ee-9c5d-f1b1ffbb128a" Alias="Files" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Files</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-04-10T10:46:14</CreateDate>
    <NodeName Default="Files" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>