<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c1c7225-5989-48ec-b779-5b39664c7436" Alias="IMG 0062" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG0062</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-11T11:08:50</CreateDate>
    <NodeName Default="IMG 0062" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/enzbzhej/img_0062.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>