<?xml version="1.0" encoding="utf-8"?>
<Media Key="a837dabb-5a4f-46b8-82ab-41c9a41d5135" Alias="Mucf" Level="2">
  <Info>
    <Parent Key="dcd2a1ba-87a9-49ee-9c5d-f1b1ffbb128a">Files</Parent>
    <Path>/Files/Mucf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-04-20T00:25:15</CreateDate>
    <NodeName Default="Mucf" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sxndpkcp/mucf.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>