<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4be7ff1-312e-4288-b1c8-60145b1aee0f" Alias="Person2" Level="2">
  <Info>
    <Parent Key="bb5a5938-9df2-48e5-ac16-97f5511baf87">avatarer</Parent>
    <Path>/avatarer/Person2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T10:25:02</CreateDate>
    <NodeName Default="Person2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/435l3vbo/person2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>