<?xml version="1.0" encoding="utf-8"?>
<Media Key="eec966fa-517a-46e2-aed8-aaed40c96557" Alias="Person1" Level="2">
  <Info>
    <Parent Key="bb5a5938-9df2-48e5-ac16-97f5511baf87">avatarer</Parent>
    <Path>/avatarer/Person1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T10:24:56</CreateDate>
    <NodeName Default="Person1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5rtmt1t0/person1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>