<?xml version="1.0" encoding="utf-8"?>
<Media Key="43aa3f55-98c6-43c3-b113-3f37a5a04908" Alias="Purple Brickwall (Medium)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PurpleBrickwallMedium</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-26T11:58:57</CreateDate>
    <NodeName Default="Purple Brickwall (Medium)" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Lila tegelvägg]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/km5luq4g/purple-brickwall-medium.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>