<?xml version="1.0" encoding="utf-8"?>
<Media Key="244d78a9-4002-4b4d-8328-262fb32da5bc" Alias="Purple Brickwall New" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PurpleBrickwallNew</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-26T18:26:19</CreateDate>
    <NodeName Default="Purple Brickwall New" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v32e0jac/purple-brickwall-new.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>