<?xml version="1.0" encoding="utf-8"?>
<Media Key="91578515-dfa8-43df-a24d-ab2493bdf4a4" Alias="Purple Brickwall" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PurpleBrickwall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-04-26T11:14:53</CreateDate>
    <NodeName Default="Purple Brickwall" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cocfpeni/purple-brickwall.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>