<?xml version="1.0" encoding="utf-8"?>
<Media Key="25dbdb5e-731d-4da3-8f7c-588f8acd3146" Alias="Sara Rampazzo Gypw0jmai1i Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SaraRampazzoGypw0jmai1iUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-26T16:07:12</CreateDate>
    <NodeName Default="Sara Rampazzo Gypw0jmai1i Unsplash" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ldnnwji3/sara-rampazzo-gypw0jmai1i-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>