<?xml version="1.0" encoding="utf-8"?>
<Media Key="19018688-e8e3-450c-b013-5a7f0080f6ab" Alias="Screenshot 2024 03 02 141428" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20240302141428</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-03-02T14:14:49</CreateDate>
    <NodeName Default="Screenshot 2024 03 02 141428" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r0dacgpd/screenshot-2024-03-02-141428.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>