<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bcea946-aef9-4402-904b-68fe9785e818" Alias="Screenshot 2024 02 22 223641" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20240222223641</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-22T22:38:03</CreateDate>
    <NodeName Default="Screenshot 2024 02 22 223641" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[PDF: "Jag är inte ensam, det finns andra som jag", person med prideflaggor på jackan]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/icun205z/screenshot-2024-02-22-223641.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>