<?xml version="1.0" encoding="utf-8"?>
<Media Key="5726e13b-d589-42b5-862c-269721dcaf3a" Alias="Skolverket" Level="2">
  <Info>
    <Parent Key="dcd2a1ba-87a9-49ee-9c5d-f1b1ffbb128a">Files</Parent>
    <Path>/Files/Skolverket</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-04-10T10:46:24</CreateDate>
    <NodeName Default="Skolverket" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cxqdmv2j/skolverket.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>