<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fc4b942-2c2d-4e36-b781-282ac7938fe3" Alias="Vadärkön" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vadaerkoen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-22T22:38:03</CreateDate>
    <NodeName Default="Vadärkön" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[Konstnärlig tecknad bild med nakna personer]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/is2nilzn/vadaerkoen.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>