@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.StartPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";


    var storiesPage = Model.DescendantOfType("whoWeArePage");
    var contentStoriesPage = (ContentModels.WhoWeArePage)storiesPage;
}


@if (Model.ImageHero != null)
{
    <div class="hero-wrapper">
        @{
            var heroImage = Model.ImageHero as IPublishedContent;
            var altText = heroImage.HasValue("altText") ? heroImage.Value<string>
            ("altText") : string.Empty;
        }
        <img src=@Model.ImageHero.GetCropUrl("hero") alt="@altText" class="img-fluid hero-style" />
        @if (Model.ImageLogo != null)
        {
            <img src=@Model.ImageLogo.GetCropUrl("logo") alt="LHB-logga" class="img-logo" />
        }
    </div>

} else
{
    <div class="hero-background-color hero-wrapper" style="background-color: @Model.BgColorHero">
        @if (Model.ImageLogo != null)
        {
            <img src=@Model.ImageLogo.GetCropUrl("logo") alt="LHB-logga" class="img-logo" />
        }

    </div>
}

<div class="arrow-container">
    <img class="arrow-down" alt="Pil som pekar nedåt" width="30px" src="/images/down-arrow.svg" />
</div>


@if (Model.BlockListSections != null && Model.BlockListSections.Any())
{
    <div>
        @Html.GetBlockListHtml(Model.BlockListSections)
    </div>
}

