@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.StartPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";


    var storiesPage = Model.DescendantOfType("whoWeArePage");
    var contentStoriesPage = (ContentModels.WhoWeArePage)storiesPage;
}

@if (Model.ImageLogo != null)
{
    <div class="hero-wrapper">
        <img src=@Model.ImageLogo.GetCropUrl("logo") class="img-logo" />
    </div>

}

@if (Model.ImageHero != null)
{
    <div class="hero-wrapper">
        <img src=@Model.ImageHero.GetCropUrl("hero") class="img-fluid hero-style" />
       
    </div>

}

<div class="arrow-container">
    <img class="arrow-down" width="30px" src="/images/down-arrow.svg"/>
</div>


@if (Model.BlockListSections != null && Model.BlockListSections.Any())
{
    <div>
        @Html.GetBlockListHtml(Model.BlockListSections)
    </div>
}

