<?xml version="1.0" encoding="utf-8"?>
<DataType Key="445351cb-8a3f-4be8-abbc-3c657a6f8687" Alias="Berättelse från medlem - Bild - Media Picker" Level="1">
  <Info>
    <Name>Berättelse från medlem - Bild - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "standard",
      "height": 200,
      "label": "standard",
      "width": 200
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>