<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28d3859d-1b2e-4912-8230-0115d9505994" Alias="Berättelser från medlemmar - blocklist" Level="2">
  <Info>
    <Name>Berättelser från medlemmar - blocklist</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c0756b53-8e0a-43c1-a47a-a4771dbae8b4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Berättelse från medlem: {{textPresentation}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>