<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Färger" Level="1">
  <Info>
    <Name>Färger</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"svart\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"990000\",\"label\":\"röd\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"b45f06\",\"label\":\"orange\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"bf9000\",\"label\":\"gul\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"38761d\",\"label\":\"grön\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"134f5c\",\"label\":\"grönblå\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"0b5394\",\"label\":\"blå\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"351c75\",\"label\":\"lila\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"741b47\",\"label\":\"rödlila\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>