<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4192fbbe-30ce-4720-a080-297682ec2574" Alias="Färgtema - Toggle" Level="1">
  <Info>
    <Name>Färgtema - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Textfärg svart",
  "LabelOn": "Textfärg vit",
  "ShowLabels": true
}]]></Config>
</DataType>