<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Färger" Level="1">
  <Info>
    <Name>Färger</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"svart\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"e40303\",\"label\":\"röd\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"e88400\",\"label\":\"orange\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"f4c708\",\"label\":\"gul\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"008026\",\"label\":\"grön\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"134f5c\",\"label\":\"grönblå\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"074cd6\",\"label\":\"blå\"}"
    },
    {
      "id": 10,
      "value": "{\"value\":\"8d1cb7\",\"label\":\"lila\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"741b47\",\"label\":\"rödlila\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>