<?xml version="1.0" encoding="utf-8"?>
<DataType Key="44c6b681-ddd9-4349-a003-532bdc02abd1" Alias="Herobild understartsidor - Media Picker" Level="1">
  <Info>
    <Name>Herobild understartsidor - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>