<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87b3e673-8bdf-4679-8e4d-6b584572a468" Alias="Knappstyling" Level="1">
  <Info>
    <Name>Knappstyling</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Inverterad",
  "LabelOn": "Ifylld färg",
  "ShowLabels": true
}]]></Config>
</DataType>