<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0bf1758-e51b-4b2e-a4d8-c422dd8f8664" Alias="Startsida - Logo splash - Media Picker" Level="1">
  <Info>
    <Name>Startsida - Logo splash - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "logo",
      "height": 366,
      "label": "logo",
      "width": 495
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>