<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49f65d16-d343-4bf0-9704-d4b7cf8ee90b" Alias="Startsida - Bild About - Media Picker" Level="1">
  <Info>
    <Name>Startsida - Bild About - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "standard",
      "height": 416,
      "label": "standard",
      "width": 416
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>