<?xml version="1.0" encoding="utf-8"?>
<DataType Key="713f1898-cfbe-4493-8b7c-7dc28813f028" Alias="Startsida - Hero bild - Media Picker" Level="1">
  <Info>
    <Name>Startsida - Hero bild - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "hero",
      "height": 800,
      "label": "hero",
      "width": 1600
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>