<?xml version="1.0" encoding="utf-8"?>
<DataType Key="314a6da1-9e62-46c6-940d-4a38864a94fd" Alias="Startsida - Media Picker" Level="1">
  <Info>
    <Name>Startsida - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "hero",
      "height": 800,
      "label": "hero",
      "width": 1600
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>