<?xml version="1.0" encoding="utf-8"?>
<DataType Key="841891d6-2f7a-4388-ae70-085ca492e8bb" Alias="Textfärg - Toggle" Level="1">
  <Info>
    <Name>Textfärg - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Textfärg svart",
  "LabelOn": "Textfärg vit",
  "ShowLabels": false
}]]></Config>
</DataType>