<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ab411c2c-28dc-4bcd-b451-9d09fa183f26" Alias="bgColorPage" Level="2">
  <Info>
    <Name>Bakgrundsfärg</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2c24e6c5-7558-4a17-bc71-6af5b4ee393d</Key>
      <Name>Bakgrundsfärg</Name>
      <Alias>bgColor</Alias>
      <Definition>f2dbe9b6-2aea-4363-892c-08af0ee87bcb</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bakgrundsfrgPSidan">Bakgrundsfärg på sidan</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e3bd6c78-167b-4f40-87b6-f3555bd5dfe7</Key>
      <Caption>Bakgrundsfärg på sidan</Caption>
      <Alias>bakgrundsfrgPSidan</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>