<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c978d1d-d370-4d88-8ba9-03fda1b310b4" Alias="blockCta" Level="2">
  <Info>
    <Name>CTA sektion</Name>
    <Icon>icon-hand-pointer-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Element+types</Folder>
    <Compositions>
      <Composition Key="0c597db7-4534-4143-82f6-75dc52056b73">compColorTheme</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1952b2ae-a9bd-4ad5-bd82-bc526c522603</Key>
      <Name>Knappstyling</Name>
      <Alias>btnStylingToggle</Alias>
      <Definition>87b3e673-8bdf-4679-8e4d-6b584572a468</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="innehll">Innehåll</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>df7e72f1-2307-4f5b-adea-d4b87174f733</Key>
      <Name>Knapplänk</Name>
      <Alias>linkBtn</Alias>
      <Definition>3bef562d-3329-4d76-9ac5-9b96e8139086</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="innehll">Innehåll</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffc67039-7d7b-439c-8e72-c903e7c566b1</Key>
      <Name>Text</Name>
      <Alias>textCta</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="innehll">Innehåll</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>74ee6b30-615e-404f-9347-0c7afb454286</Key>
      <Caption>Innehåll</Caption>
      <Alias>innehll</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>