<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="714267b5-ae36-460d-b0d0-94231da979dc" Alias="compImageHero" Level="2">
  <Info>
    <Name>Bild överst understartsida</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>03e08f49-3ceb-48ad-911f-57542e551e51</Key>
      <Name>Bild</Name>
      <Alias>imageHero</Alias>
      <Definition>44c6b681-ddd9-4349-a003-532bdc02abd1</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bildVerst">Bild överst</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c23e708e-9b98-4e09-9875-d6cd2b051022</Key>
      <Name>Bildbredd desktop</Name>
      <Alias>widthDesktop</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ange bredd (pixlar). Fullbredd är 770. I mobil tar bilden upp fullbredd.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bildVerst">Bild överst</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e795e446-1cbd-4f16-8160-126182e22db5</Key>
      <Caption>Bild överst</Caption>
      <Alias>bildVerst</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>