<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7edcc92-4e31-4e80-9ae3-1182143de415" Alias="startPage" Level="1">
  <Info>
    <Name>Startsida</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Startsida</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8865c62a-dde9-406e-8e43-d6ff6bd0121c">Startsida</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="981eed24-1621-4d9c-b47f-7f4024932012" SortOrder="0">investigatePage</ContentType>
    <ContentType Key="1c71636a-7787-4859-b8d5-c2206c991092" SortOrder="1">whoWeArePage</ContentType>
    <ContentType Key="883bf8a4-07ac-4f92-b30a-ff259982b649" SortOrder="2">articlePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>163f2c78-54a5-4470-b964-c1c38f54d855</Key>
      <Name>Bakgrundsfärg hero</Name>
      <Alias>bgColorHero</Alias>
      <Definition>f2dbe9b6-2aea-4363-892c-08af0ee87bcb</Definition>
      <Type>Umbraco.ColorPicker.EyeDropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Välj bakgrundsfärg om inte hero-bild används.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2e55d0d-f68e-4b1c-83ea-fe99fccd2939</Key>
      <Name>Välj sektion</Name>
      <Alias>blockListSections</Alias>
      <Definition>ea6d395a-7dc6-48e3-81f6-1207f7fdea87</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="lggTillSektioner">Lägg till sektioner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>78f4a18f-1231-46f5-ac63-2ebc5e9abc03</Key>
      <Name>Hero bild</Name>
      <Alias>imageHero</Alias>
      <Definition>314a6da1-9e62-46c6-940d-4a38864a94fd</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>59afdac9-0dc1-43d1-905c-586fd1bca681</Key>
      <Name>Logo splash</Name>
      <Alias>imageLogo</Alias>
      <Definition>f0bf1758-e51b-4b2e-a4d8-c422dd8f8664</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ladda upp i .png bildformat. (jpg fungerar också, men är ej transparent)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6a2bede0-833e-4cab-8bea-c61f59e61e5e</Key>
      <Name>Knapplänk</Name>
      <Alias>linkBtn</Alias>
      <Definition>3bef562d-3329-4d76-9ac5-9b96e8139086</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ddc4697f-1abc-4771-83c4-de51f3dda336</Key>
      <Name>Temafärg</Name>
      <Alias>themeColor</Alias>
      <Definition>0225af17-b302-49cb-9176-b9f35cab9c17</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Färg på knappar, länkar, små detaljer]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="temafrg">Temafärg</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4c26a52c-13aa-4e13-92b8-eb1fe1214ca1</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>69872104-cd14-43e0-bc61-b158e0106b2b</Key>
      <Caption>Temafärg</Caption>
      <Alias>temafrg</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>8a6bbc67-7278-4b6e-a724-42a58ec3ef18</Key>
      <Caption>Lägg till sektioner</Caption>
      <Alias>lggTillSektioner</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>b26b7cdb-11c8-4864-9070-412741c1914a</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</ContentType>