<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7edcc92-4e31-4e80-9ae3-1182143de415" Alias="startPage" Level="1">
  <Info>
    <Name>Startsida</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Startsida</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8865c62a-dde9-406e-8e43-d6ff6bd0121c">Startsida</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="981eed24-1621-4d9c-b47f-7f4024932012" SortOrder="0">investigatePage</ContentType>
    <ContentType Key="1c71636a-7787-4859-b8d5-c2206c991092" SortOrder="1">whoWeArePage</ContentType>
    <ContentType Key="883bf8a4-07ac-4f92-b30a-ff259982b649" SortOrder="2">articlePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>096859c8-048e-4ec7-a1c9-7afc155077f5</Key>
      <Name>Bakgrundsfärg</Name>
      <Alias>bgColor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="presentationssektion">Presentationssektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bca33199-0c0f-4603-b4d0-dc5776118d7a</Key>
      <Name>Bakgrundsfärg</Name>
      <Alias>bgColorFooter</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>342a99b2-0a15-40d7-ba71-5ae56013c59b</Key>
      <Name>Kort</Name>
      <Alias>blocklistCards</Alias>
      <Definition>1cacddfd-8215-4124-8a27-1604aa36d504</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="aktuelltSektion">Aktuellt sektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90ca101d-feb4-497c-be29-5c7c6be5149a</Key>
      <Name>Visa sektion</Name>
      <Alias>boolShowSection</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hämtar de fyra senaste berättelserna från "Vilka är vi"]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="berttelserSektion">Berättelser sektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ee2d867f-48f3-4adc-bc48-ab77da3f33b4</Key>
      <Name>Bild</Name>
      <Alias>imageAbout</Alias>
      <Definition>49f65d16-d343-4bf0-9704-d4b7cf8ee90b</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="vilkaRViSektion">Vilka är vi sektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>78f4a18f-1231-46f5-ac63-2ebc5e9abc03</Key>
      <Name>Hero bild</Name>
      <Alias>imageHero</Alias>
      <Definition>314a6da1-9e62-46c6-940d-4a38864a94fd</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0ac1f8c-ca69-40d9-bb2f-106d5608166c</Key>
      <Name>Knapplänk</Name>
      <Alias>linkBtnAbout</Alias>
      <Definition>3bef562d-3329-4d76-9ac5-9b96e8139086</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="vilkaRViSektion">Vilka är vi sektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d3ef74e8-5c59-4061-a6dc-b08199e0ccc5</Key>
      <Name>Knapplänk</Name>
      <Alias>linkBtnMember</Alias>
      <Definition>3bef562d-3329-4d76-9ac5-9b96e8139086</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="bliMedlemSektion">Bli medlem sektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3645d996-8710-4541-9e7b-0978c1bfc6ef</Key>
      <Name>Logo</Name>
      <Alias>logoImage</Alias>
      <Definition>f42b8ac5-2edf-4d52-b71c-13cb7a6cd637</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ladda upp logo i .png (bakgrund ska vara transparent)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca6906d4-f17a-4a05-a9f5-ec826ae914b3</Key>
      <Name>Text</Name>
      <Alias>rteBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="presentationssektion">Presentationssektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b4f3aa2-eb15-4510-8b4a-e6283a34cc7a</Key>
      <Name>Text</Name>
      <Alias>rteBodyAbout</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="vilkaRViSektion">Vilka är vi sektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e92e4f1c-5caf-4263-a85b-c5a793e1a486</Key>
      <Name>Textfärg</Name>
      <Alias>textColorFooter</Alias>
      <Definition>841891d6-2f7a-4388-ae70-085ca492e8bb</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2833053-7e5f-4d22-80bd-2444e3187450</Key>
      <Name>Kontaktmejl</Name>
      <Alias>textContactMail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>34b88573-f703-4064-843b-14551aa7ac1c</Key>
      <Name>Rubrik</Name>
      <Alias>textHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="presentationssektion">Presentationssektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>095e3b59-d925-4f39-8ff4-4c7e093fca1c</Key>
      <Name>Titel</Name>
      <Alias>textHeadingCards</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aktuelltSektion">Aktuellt sektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>54dfc4ea-f81f-407d-aa77-5a92b5b923dc</Key>
      <Name>Text bli medlem</Name>
      <Alias>textMember</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bliMedlemSektion">Bli medlem sektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44e39f34-5aca-4821-a41f-ac9ffbb31e50</Key>
      <Name>Titel</Name>
      <Alias>textTitleAbout</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="vilkaRViSektion">Vilka är vi sektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a7371b17-31cb-43da-bfcd-1be107d98494</Key>
      <Name>Titel</Name>
      <Alias>textTitleStories</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="berttelserSektion">Berättelser sektion</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>34a498a8-83f5-4579-aae0-62565ffb1ad6</Key>
      <Name>Färg på text navigering, knappar och små detaljer</Name>
      <Alias>themeColor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Skriv in hex-kod för färgen, t.ex. #43135f]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="temafrgFrHelaSidan">Temafärg för hela sidan</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>02be513d-fd2f-4ecd-9839-7f18c151c97c</Key>
      <Caption>Berättelser sektion</Caption>
      <Alias>berttelserSektion</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>0dcc3a4b-f0e7-49ac-bb45-ccafbb67acf9</Key>
      <Caption>Vilka är vi sektion</Caption>
      <Alias>vilkaRViSektion</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>1dda6692-cb0f-47b5-89cc-4fab5e5ab367</Key>
      <Caption>Aktuellt sektion</Caption>
      <Alias>aktuelltSektion</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>2556aa77-a3f2-4813-9e29-a4a06ac31044</Key>
      <Caption>Temafärg för hela sidan</Caption>
      <Alias>temafrgFrHelaSidan</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>2bad7ee8-152c-4192-8596-c99d70b330e5</Key>
      <Caption>Bli medlem sektion</Caption>
      <Alias>bliMedlemSektion</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>4c26a52c-13aa-4e13-92b8-eb1fe1214ca1</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>b26b7cdb-11c8-4864-9070-412741c1914a</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Key>e7daaa76-6ffd-4821-813e-cff48040a0ed</Key>
      <Caption>Presentationssektion</Caption>
      <Alias>presentationssektion</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>