<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1c71636a-7787-4859-b8d5-c2206c991092" Alias="whoWeArePage" Level="1">
  <Info>
    <Name>Vilka är vi</Name>
    <Icon>icon-handtool-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="ab411c2c-28dc-4bcd-b451-9d09fa183f26">bgColorPage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>61762d61-2361-418a-81f6-60e916b55690</Key>
      <Name>Lägg till berättelse</Name>
      <Alias>blocklistStory</Alias>
      <Definition>28d3859d-1b2e-4912-8230-0115d9505994</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="innehll">Innehåll</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>319fc90a-e4bb-4204-88a1-3d31374c633c</Key>
      <Name>Rubrik</Name>
      <Alias>textHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="innehll">Innehåll</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a87fc9c1-5e56-4476-8d3e-b6b559d6d3f3</Key>
      <Name>Dölj</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Bara aktuellt för sidor på första nivå.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dljIMeny">Dölj i meny</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3f984178-2b03-4015-bef5-976f0c3b8eac</Key>
      <Caption>Dölj i meny</Caption>
      <Alias>dljIMeny</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>9fa25ea7-8729-42b7-bdb1-c1432348d7b4</Key>
      <Caption>Innehåll</Caption>
      <Alias>innehll</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>