<?xml version="1.0" encoding="utf-8"?>
<Content Key="32b625fb-50aa-44ca-b001-c8f218be5cd3" Alias="LHB Granskar" Level="2">
  <Info>
    <Parent Key="9d066b62-6182-49c0-b503-526abbb0c8f2">Start</Parent>
    <Path>/Start/LHBGranskar</Path>
    <Trashed>false</Trashed>
    <ContentType>investigatePage</ContentType>
    <CreateDate>2024-02-18T17:58:59</CreateDate>
    <NodeName Default="LHB Granskar" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3673558d-c7ed-4e15-8797-7d31c99849b1">LHBGranskar</Template>
  </Info>
  <Properties>
    <bgColor>
      <Value><![CDATA[]]></Value>
    </bgColor>
    <blockListInvestigations>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c7f6ce8de84c49e5ad421728a94fbc83"
      },
      {
        "contentUdi": "umb://element/5e89faf55f934a4787c11d24415eb6e4"
      },
      {
        "contentUdi": "umb://element/0c17934db0524c95982373517d5410dd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8c77912c-c5a9-4004-b6cf-d3a5877a6547",
      "udi": "umb://element/c7f6ce8de84c49e5ad421728a94fbc83",
      "rteBody": {
        "markup": "<p>Här diskuterar vi hur såväl den gängse definitionen av kön som det feministiska genusbegreppet håller på att fasas ut till förmån för en förvirrande och missvisande fyrdelad könsdefinition som sprids av bland andra RFSL. Detta är egentligen inte en definition utan en anti-definition som förutsätter att alla redan känner till den gängse definitionen. Det är varken säkert eller tillgängligt att på detta sätt aktivt undanhålla allmänheten en klar och tydlig definition av grundläggande begrepp som \"kön\". Det kan snarare betraktas som desinformation i propagandasyfte. Vi reder ut var de olika sätten att förstå och beskriva kön kommer ifrån teoretiskt och vad de kan få för konsekvenser.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "linkSingle": [
        {
          "name": "Läs hela artikeln",
          "udi": "umb://document/b32b6da718e742e8875c40e44c17c8d4"
        }
      ],
      "title": "Vad är kön?"
    },
    {
      "contentTypeKey": "8c77912c-c5a9-4004-b6cf-d3a5877a6547",
      "udi": "umb://element/5e89faf55f934a4787c11d24415eb6e4",
      "title": "100 missvisande svar om sex",
      "rteBody": {
        "markup": "<p>Feministiska sexualupplysare har sedan sjuttiotalet kämpat för att öka kunskapen om och minska skammen kring kvinnors kroppar och sexualitet. En viktig del av detta har varit att uppmärksamma klitoris och att inte låta sex definieras på manliga villkor som penetration. Nu finns en ny rörelse som vill omintetgöra denna kamp och återigen göra kvinnors könsorgan skamliga och onämnbara. Frågvisa högstadieelever som lyssnar på UR får ingen grundläggande sexualupplysning alls om hur man kan stimulera klitoris, hur lubrikation fungerar eller vad man kan tänka på vid vaginalt sex för nybörjare. I stället framträder en värld av grafiskt detaljerade snoppar och i övrigt vaga och luddiga kroppar som har \"känslor\" men knappt ens något kön. Precis som på den gamla onda tiden men med en transtwist.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "linkSingle": ""
    },
    {
      "contentTypeKey": "8c77912c-c5a9-4004-b6cf-d3a5877a6547",
      "udi": "umb://element/0c17934db0524c95982373517d5410dd",
      "title": "Granskning av Skolverket",
      "rteBody": {
        "markup": "<p>Vi har granskat det stöd om<span> </span><a rel=\"noopener\" href=\"https://www.skolverket.se/skolutveckling/inspiration-och-stod-i-arbetet/stod-i-arbetet/trans-konsidentitet-och-konsuttryck\" target=\"_blank\">\"Trans, könsidentitet och könsuttryck\"</a><span> som Skolverket har publicerat på sin hemsida, där de bland annat ger detta absurda exempel på diskriminering enligt diskrimineringsgrunden \"könsöverskridande identitet eller uttryck\":</span><span></span></p>\n<p><span><img src=\"?rmode=max&amp;height=500\" alt=\"\" width=\"384\" height=\"500\" data-udi=\"umb://media/7fb355c950b644b598282bb09cf2a7df\"></span></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "linkSingle": [
        {
          "name": "Läs granskningen",
          "udi": "umb://media/5726e13bd58942b5862c269721dcaf3a"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </blockListInvestigations>
    <imageHero>
      <Value><![CDATA[[]]]></Value>
    </imageHero>
    <imgFloatRight>
      <Value><![CDATA[[
  {
    "key": "ccc45ffc-1845-4eb9-8904-14858c9868ed",
    "mediaKey": "25dbdb5e-731d-4da3-8f7c-588f8acd3146"
  }
]]]></Value>
    </imgFloatRight>
    <textHeading>
      <Value><![CDATA[LHB Granskar]]></Value>
    </textHeading>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <widthDesktop>
      <Value><![CDATA[]]></Value>
    </widthDesktop>
  </Properties>
</Content>