<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0f1864b-8d96-42d7-a5f5-c859a279ddb6" Alias="LHB Granskar" Level="2">
  <Info>
    <Parent Key="9d066b62-6182-49c0-b503-526abbb0c8f2">Start</Parent>
    <Path>/Start/LHBGranskar</Path>
    <Trashed>false</Trashed>
    <ContentType>investigatePage</ContentType>
    <CreateDate>2024-06-04T15:57:51</CreateDate>
    <NodeName Default="LHB Granskar" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3673558d-c7ed-4e15-8797-7d31c99849b1">LHBGranskar</Template>
  </Info>
  <Properties>
    <bgColor>
      <Value><![CDATA[#ffffff]]></Value>
    </bgColor>
    <blockListInvestigations>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7dbe32f934284affb850b69e184999e8"
      },
      {
        "contentUdi": "umb://element/631063f1a26a454b8b612cdba3f06b74"
      },
      {
        "contentUdi": "umb://element/8b1d9dfd0d0c476286dd00241cb8ecbd"
      },
      {
        "contentUdi": "umb://element/0a4db344887043a0b0f6b786871d9235"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8c77912c-c5a9-4004-b6cf-d3a5877a6547",
      "udi": "umb://element/0a4db344887043a0b0f6b786871d9235",
      "rteBody": {
        "markup": "<p>Här diskuterar vi hur såväl den gängse definitionen av kön som det feministiska genusbegreppet håller på att fasas ut till förmån för en förvirrande och missvisande fyrdelad könsdefinition som sprids av bland andra RFSL. Detta är egentligen inte en definition utan en anti-definition som förutsätter att alla redan känner till den gängse definitionen. Det är varken säkert eller tillgängligt att på detta sätt aktivt undanhålla allmänheten en klar och tydlig definition av grundläggande begrepp som \"kön\". Det kan snarare betraktas som desinformation i propagandasyfte. Vi reder ut var de olika sätten att förstå och beskriva kön kommer ifrån teoretiskt och vad de kan få för konsekvenser.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "linkSingle": [
        {
          "name": "Läs granskningen",
          "udi": "umb://document/0e7b62b4c13c4235b6e4e8a49c0f42fb"
        }
      ],
      "title": "Vad är kön?",
      "date": "1999-01-01"
    },
    {
      "contentTypeKey": "8c77912c-c5a9-4004-b6cf-d3a5877a6547",
      "udi": "umb://element/8b1d9dfd0d0c476286dd00241cb8ecbd",
      "title": "100 missvisande svar om sex",
      "rteBody": {
        "markup": "<p>Feministiska sexualupplysare har sedan sjuttiotalet kämpat för att öka kunskapen om och minska skammen kring kvinnors kroppar och sexualitet. En viktig del av detta har varit att uppmärksamma klitoris och att inte låta sex definieras på manliga villkor som penetration. Nu finns en ny rörelse som vill omintetgöra denna kamp och återigen göra kvinnors könsorgan skamliga och onämnbara. Frågvisa högstadieelever som lyssnar på UR får ingen grundläggande sexualupplysning alls om hur man kan stimulera klitoris, hur lubrikation fungerar eller vad man kan tänka på vid vaginalt sex för nybörjare. I stället framträder en värld av grafiskt detaljerade snoppar och i övrigt vaga och luddiga kroppar som har \"känslor\" men knappt ens något kön. Precis som på den gamla onda tiden men med en transtwist.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "linkSingle": [
        {
          "name": "Läs granskningen",
          "udi": "umb://document/5f70f89da3104f6786b90a14c346d1a4"
        }
      ],
      "date": "1999-01-01"
    },
    {
      "contentTypeKey": "8c77912c-c5a9-4004-b6cf-d3a5877a6547",
      "udi": "umb://element/7dbe32f934284affb850b69e184999e8",
      "title": "Granskning av Skolverket",
      "rteBody": {
        "markup": "<p>Vi har granskat det stöd om ”Trans, könsidentitet och könsuttryck” Skolverket tagit fram i samarbete med transaktivistforskaren Irina Schmitt. Något motsvarande stöd om sexuell läggning som vi har kunnat granska finns inte. Komplicerade frågor om självuppfattning, könsnormer, andra människors skyldigheter, potentiella kulturburna smittor med mera får Skolverket att låta som det enklaste i världen. De riktlinjer som Skolverket ger i sin text är dock allt annat än självklara och handlar om något betydligt mer omfattande än trygghet och respekt. Skolverket tar i sin text tydligt ställning för att kön handlar om identitet och inte om det biologiska könet, och denna kontroversiella ståndpunkt anammas utan motivering och utan ett ord om att andra ståndpunkter ens är möjliga.&nbsp;</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "linkSingle": [
        {
          "name": "Läs granskningen",
          "target": "",
          "udi": "umb://document/1c81def17980499c88442a605faec413"
        }
      ],
      "date": "1999-01-01"
    },
    {
      "contentTypeKey": "8c77912c-c5a9-4004-b6cf-d3a5877a6547",
      "udi": "umb://element/631063f1a26a454b8b612cdba3f06b74",
      "title": "Granskning av MUCF",
      "rteBody": {
        "markup": "<p>Vi granskar&nbsp;MUCF:s rapport&nbsp;<em>Unga hbtqi-personers levnadsvillkor&nbsp;</em>och finner att den har stora metodbrister och är full av illa underbyggda tolkningar, slutsatser och rekommendationer. Den har också ett oproportionerligt fokus på transpersoner bland de olika grupper rapporten ska handla om, och saknar helt ett genus- och jämställdhetsperspektiv. Det är anmärkningsvärt att skriva en hel rapport om \"hbtqi-ungdom\" utan att kommentera eller försöka förklara den explosionsartade ökningen av transidentiteter och bisexuella identiteter bland framför allt unga tjejer. Vi har begärt ut kompletterande siffror från Folkhälsomyndigheten och MUCF för vår granskning.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "linkSingle": [
        {
          "name": "Läs granskningen",
          "udi": "umb://document/3df20c0c691042ff901e537ea6718d44"
        }
      ],
      "date": "1999-01-01"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockListInvestigations>
    <imageHero>
      <Value><![CDATA[[
  {
    "key": "fa2cfb45-880d-4d92-9721-dc71dbdcdf18",
    "mediaKey": "c80b25b7-c9c0-4390-bdf8-f332e0bea67a"
  }
]]]></Value>
    </imageHero>
    <imgFloatRight>
      <Value><![CDATA[[]]]></Value>
    </imgFloatRight>
    <textHeading>
      <Value><![CDATA[LHB Granskar]]></Value>
    </textHeading>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <widthDesktop>
      <Value><![CDATA[770]]></Value>
    </widthDesktop>
  </Properties>
</Content>