<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1b52fc8-de5a-41f2-8bcc-e89060c5b237" Alias="Övriga medieframträdanden" Level="3">
  <Info>
    <Parent Key="9de2f978-00fc-4380-be01-058f2f420117">Verksamhet</Parent>
    <Path>/Start/Verksamhet/oevrigaMedieframtraedanden</Path>
    <Trashed>false</Trashed>
    <ContentType>articlePage</ContentType>
    <CreateDate>2024-04-25T12:16:58</CreateDate>
    <NodeName Default="Övriga medieframträdanden" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5ce5f547-019a-44db-9873-a696672c48fc">Artikelsida</Template>
  </Info>
  <Properties>
    <rteBody>
      <Value><![CDATA[{
  "markup": "<p>Vår ordförande gästar&nbsp;<a rel=\"noopener\" href=\"https://sites.libsyn.com/400151/33-gst-linn-saarinen\" target=\"_blank\">Regnbågspodden</a>.</p>\n<p><a rel=\"noopener\" href=\"https://lhbsverige.se/pride.pdf\" target=\"_blank\">Vårt uttalande</a> apropå strykningen av vår programpunkt under Stockholm Pride 2023.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteBody>
    <textHeading>
      <Value><![CDATA[Övriga medieframträdanden]]></Value>
    </textHeading>
  </Properties>
</Content>