<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb697b62-6535-4bbb-a1b5-2945eee904ba" Alias="Start" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Start</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2024-04-18T16:32:10</CreateDate>
    <NodeName Default="Start" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8865c62a-dde9-406e-8e43-d6ff6bd0121c">Startsida</Template>
  </Info>
  <Properties>
    <blocklistCards>
      <Value><![CDATA[]]></Value>
    </blocklistCards>
    <boolShowSection>
      <Value><![CDATA[]]></Value>
    </boolShowSection>
    <imageAbout>
      <Value><![CDATA[]]></Value>
    </imageAbout>
    <imageHero>
      <Value><![CDATA[[
  {
    "key": "a4602598-9883-4641-b844-4b72f06c6613",
    "mediaKey": "d289c559-372f-47ee-aa44-9e9482709ec1"
  }
]]]></Value>
    </imageHero>
    <linkBtnAbout>
      <Value><![CDATA[]]></Value>
    </linkBtnAbout>
    <linkBtnMember>
      <Value><![CDATA[]]></Value>
    </linkBtnMember>
    <rteBody>
      <Value><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteBody>
    <rteBodyAbout>
      <Value><![CDATA[]]></Value>
    </rteBodyAbout>
    <textContactMail>
      <Value><![CDATA[]]></Value>
    </textContactMail>
    <textHeading>
      <Value><![CDATA[Förbundet för lesbiska, homosexuella och bisexuella]]></Value>
    </textHeading>
    <textHeadingCards>
      <Value><![CDATA[]]></Value>
    </textHeadingCards>
    <textMember>
      <Value><![CDATA[]]></Value>
    </textMember>
    <textTitleAbout>
      <Value><![CDATA[]]></Value>
    </textTitleAbout>
    <textTitleStories>
      <Value><![CDATA[]]></Value>
    </textTitleStories>
  </Properties>
</Content>