<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d066b62-6182-49c0-b503-526abbb0c8f2" Alias="Start" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Start</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2024-02-15T21:20:04</CreateDate>
    <NodeName Default="Start" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8865c62a-dde9-406e-8e43-d6ff6bd0121c">Startsida</Template>
  </Info>
  <Properties>
    <blocklistCards>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/08b59acb419e4326bc02c7fbc6791e28"
      },
      {
        "contentUdi": "umb://element/3b9841fc28d44ac88907c7b1dac7224b"
      },
      {
        "contentUdi": "umb://element/6e44ffbc5e6b453290a57a04e291aa39"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
      "udi": "umb://element/08b59acb419e4326bc02c7fbc6791e28",
      "textHeading": "Vad är kön? ",
      "image": [
        {
          "key": "d25e8711-a0cd-4d87-b436-d06f56c52932",
          "mediaKey": "2fc4b942-2c2d-4e36-b781-282ac7938fe3"
        }
      ],
      "textString": "Här diskuterar vi hur såväl den gängse definitionen av kön som det feministiska genusbegreppet håller på att fasas ut till förmån för en förvirrande och missvisande fyrdelad könsdefinition som sprids av bland andra RFSL.",
      "linkCard": [
        {
          "name": "Vad är kön",
          "udi": "umb://document/b32b6da718e742e8875c40e44c17c8d4"
        }
      ],
      "stringDate": "2024-01-24"
    },
    {
      "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
      "udi": "umb://element/3b9841fc28d44ac88907c7b1dac7224b",
      "textHeading": "Granskning av skolverket",
      "image": [
        {
          "key": "e5b81e2d-6ee8-4839-8e09-313c59ea2aa8",
          "mediaKey": "cdf03a3f-696b-4f88-89c9-4cb8793b3807",
          "crops": [
            {
              "alias": "standard",
              "coordinates": {
                "x1": 0.04108527131782946,
                "y1": 0.05084147774262131,
                "x2": 0.02868217054263566,
                "y2": 0.13955664398102105
              }
            }
          ]
        }
      ],
      "textString": "Vi har granskat det stöd om \"Trans, könsidentitet och könsuttryck\" som Skolverket har publicerat på sin hemsida.",
      "linkCard": [
        {
          "name": "Skolverket",
          "target": "_blank",
          "udi": "umb://media/5726e13bd58942b5862c269721dcaf3a"
        }
      ],
      "stringDate": "2024-02-23"
    },
    {
      "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
      "udi": "umb://element/6e44ffbc5e6b453290a57a04e291aa39",
      "textHeading": "Granskning av MUCF:s rapport \"Unga hbtqi-personers levnadsvillkor\"",
      "image": [
        {
          "key": "23cb1bda-c355-46cd-824c-2171de48e6e1",
          "mediaKey": "19018688-e8e3-450c-b013-5a7f0080f6ab",
          "crops": [
            {
              "alias": "standard",
              "coordinates": {
                "x1": 0.029388322327537315,
                "y1": 0,
                "x2": 0.029729914145408515,
                "y2": 0
              }
            }
          ]
        }
      ],
      "textString": "Vi granskar MUCFs rapport och finner att den har stora metodbrister och är full av illa underbyggda tolkningar, slutsatser och rekommendationer.",
      "linkCard": [
        {
          "name": "Mucf",
          "target": "_blank",
          "udi": "umb://media/a837dabb5a4f46b882ab41c9a41d5135"
        }
      ],
      "stringDate": "2023-12-09"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocklistCards>
    <boolShowSection>
      <Value><![CDATA[1]]></Value>
    </boolShowSection>
    <imageAbout>
      <Value><![CDATA[[
  {
    "key": "d40f7627-411f-4c34-9ed2-de71235cc686",
    "mediaKey": "25dbdb5e-731d-4da3-8f7c-588f8acd3146",
    "crops": [
      {
        "alias": "standard",
        "label": "standard",
        "coordinates": {
          "x1": 0,
          "y1": 0.1891025641025641,
          "x2": 0,
          "y2": 0.14423076923076922
        }
      }
    ]
  }
]]]></Value>
    </imageAbout>
    <imageHero>
      <Value><![CDATA[[
  {
    "key": "8be46011-edcb-4b29-ab93-e0da9b8b88a4",
    "mediaKey": "38940d81-010d-4275-8c93-8c29193782ad",
    "crops": [
      {
        "alias": "hero",
        "label": "hero",
        "coordinates": {
          "x1": 0.0008310880040075272,
          "y1": 0.024500910667976362,
          "x2": 0.042676052480881355,
          "y2": 0.01900622981691256
        }
      }
    ]
  }
]]]></Value>
    </imageHero>
    <linkBtnAbout>
      <Value><![CDATA[[
  {
    "name": "Läs mer om vår verksamhet",
    "udi": "umb://document/9de2f97800fc4380be01058f2f420117"
  }
]]]></Value>
    </linkBtnAbout>
    <linkBtnMember>
      <Value><![CDATA[[
  {
    "name": "Bli medlem",
    "udi": "umb://document/7d793a1f06734bfb9bafc7706321a08d"
  }
]]]></Value>
    </linkBtnMember>
    <rteBody>
      <Value><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteBody>
    <rteBodyAbout>
      <Value><![CDATA[{
  "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </rteBodyAbout>
    <textContactMail>
      <Value><![CDATA[info@lhbsverige.se]]></Value>
    </textContactMail>
    <textHeading>
      <Value><![CDATA[Förbundet för lesbiska, homosexuella och bisexuella]]></Value>
    </textHeading>
    <textHeadingCards>
      <Value><![CDATA[Aktuellt]]></Value>
    </textHeadingCards>
    <textMember>
      <Value><![CDATA[Är du intresserad av att bli medlem?]]></Value>
    </textMember>
    <textTitleAbout>
      <Value><![CDATA[Vilka är vi? ]]></Value>
    </textTitleAbout>
    <textTitleStories>
      <Value><![CDATA[Medlemmar berättar]]></Value>
    </textTitleStories>
  </Properties>
</Content>