<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d066b62-6182-49c0-b503-526abbb0c8f2" Alias="Start" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Start</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2024-02-15T21:20:04</CreateDate>
    <NodeName Default="Start" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8865c62a-dde9-406e-8e43-d6ff6bd0121c">Startsida</Template>
  </Info>
  <Properties>
    <blockListSections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8f6b795bb70e4e82bf7ed4cc791f78e5"
      },
      {
        "contentUdi": "umb://element/7f4ac3e83bfc4606a4b2da9ca289088e"
      },
      {
        "contentUdi": "umb://element/bf9924ccf6b7485b976937328142d33e"
      },
      {
        "contentUdi": "umb://element/789f9e800483490ab5c3eb6d6871b8ea"
      },
      {
        "contentUdi": "umb://element/9817c8cca2a8492cbc6cef9e4244e8b5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "64ca2a19-5a4d-45d6-b86c-357aa703b9cf",
      "udi": "umb://element/8f6b795bb70e4e82bf7ed4cc791f78e5",
      "textHeading": "Förbundet för lesbiska, homosexuella och bisexuella",
      "rteBody": {
        "markup": "<p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em></p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "colorBg": "#ce7e00",
      "textColor": "1"
    },
    {
      "contentTypeKey": "2ea13bf6-be3b-440b-82bb-c5f8599f25f9",
      "udi": "umb://element/7f4ac3e83bfc4606a4b2da9ca289088e",
      "textHeadingCards": "Aktuellt",
      "blocklistCards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0c9d712934164392b6355505a90a1bd2"
            },
            {
              "contentUdi": "umb://element/50473b51d9434ce5b559ed194beab7cc"
            },
            {
              "contentUdi": "umb://element/68f2f8860dd9472bb01c7cb50474dbb5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
            "udi": "umb://element/0c9d712934164392b6355505a90a1bd2",
            "textHeading": "Vad är kön?",
            "image": [
              {
                "key": "c3dfa397-5982-4cdd-a9bb-251d00e90085",
                "mediaKey": "2fc4b942-2c2d-4e36-b781-282ac7938fe3"
              }
            ],
            "textString": "Här diskuterar vi hur såväl den gängse definitionen av kön som det feministiska genusbegreppet håller på att fasas ut till förmån för en förvirrande och missvisande fyrdelad könsdefinition som sprids av bland andra RFSL.",
            "linkCard": [
              {
                "name": "Vad är kön",
                "udi": "umb://document/b32b6da718e742e8875c40e44c17c8d4"
              }
            ],
            "stringDate": "2024-01-24"
          },
          {
            "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
            "udi": "umb://element/50473b51d9434ce5b559ed194beab7cc",
            "textHeading": "Granskning av skolverket",
            "image": [
              {
                "key": "71dde679-b8ce-44d5-b560-b02482cc37f1",
                "mediaKey": "cdf03a3f-696b-4f88-89c9-4cb8793b3807"
              }
            ],
            "textString": "Vi har granskat det stöd om \"Trans, könsidentitet och könsuttryck\" som Skolverket har publicerat på sin hemsida.",
            "linkCard": [
              {
                "name": "Skolverket",
                "target": "_blank",
                "udi": "umb://media/5726e13bd58942b5862c269721dcaf3a"
              }
            ],
            "stringDate": "2024-02-23"
          },
          {
            "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
            "udi": "umb://element/68f2f8860dd9472bb01c7cb50474dbb5",
            "textHeading": "Granskning av MUCF:s rapport \"Unga hbtqi-personers levnadsvillkor\"",
            "image": [
              {
                "key": "8436b9b2-272e-4444-98e6-8a3b83bd72bf",
                "mediaKey": "19018688-e8e3-450c-b013-5a7f0080f6ab"
              }
            ],
            "textString": "Vi granskar MUCFs rapport och finner att den har stora metodbrister och är full av illa underbyggda tolkningar, slutsatser och rekommendationer.",
            "linkCard": [
              {
                "name": "Mucf",
                "target": "_blank",
                "udi": "umb://media/a837dabb5a4f46b882ab41c9a41d5135"
              }
            ],
            "stringDate": "2023-12-09"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "54487ef8-f920-492b-9be2-a068c8b090fe",
      "udi": "umb://element/bf9924ccf6b7485b976937328142d33e",
      "textHeading": "Vilka är vi?",
      "rteBody": {
        "markup": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "imageSingle": [
        {
          "key": "ac19df4a-c949-4d15-9c7f-18c10a1a9f75",
          "mediaKey": "25dbdb5e-731d-4da3-8f7c-588f8acd3146"
        }
      ],
      "linkBtnAbout": [
        {
          "name": "Läs mer om vår verksamhet",
          "udi": "umb://document/9de2f97800fc4380be01058f2f420117"
        }
      ],
      "colorBg": "#76a5af",
      "textColor": "1",
      "btnStylingToggle": "1"
    },
    {
      "contentTypeKey": "0c16ebda-2496-447d-874a-bc60b1cdea22",
      "udi": "umb://element/789f9e800483490ab5c3eb6d6871b8ea",
      "textTitle": "Medlemmar berättar"
    },
    {
      "contentTypeKey": "9c978d1d-d370-4d88-8ba9-03fda1b310b4",
      "udi": "umb://element/9817c8cca2a8492cbc6cef9e4244e8b5",
      "textCta": "Är du intresserad av att bli medlem?",
      "linkBtn": [
        {
          "name": "Bli medlem",
          "udi": "umb://document/7d793a1f06734bfb9bafc7706321a08d"
        }
      ],
      "colorBg": "#f44336",
      "textColor": "1",
      "btnStylingToggle": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockListSections>
    <imageHero>
      <Value><![CDATA[[
  {
    "key": "a7894937-e8be-44dc-b387-eac942a27533",
    "mediaKey": "267aeb2f-6ec9-41c6-b452-9671fdee4472",
    "crops": [
      {
        "alias": "hero",
        "label": "hero",
        "coordinates": {
          "x1": 0,
          "y1": 0.11652449907876555,
          "x2": 0,
          "y2": 0.11063896245969601
        }
      }
    ]
  }
]]]></Value>
    </imageHero>
    <imageLogo>
      <Value><![CDATA[[
  {
    "key": "756b9502-ac68-4174-845a-7aad73dfc478",
    "mediaKey": "124ca329-f4ce-4dfe-bbfc-c0a4f73e9343"
  }
]]]></Value>
    </imageLogo>
    <textContactMail>
      <Value><![CDATA[info@lhbsverige.se]]></Value>
    </textContactMail>
    <themeColor>
      <Value><![CDATA[{
  "value": "990000",
  "label": "röd",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </themeColor>
  </Properties>
</Content>