<?xml version="1.0" encoding="utf-8"?>
<Content Key="9d066b62-6182-49c0-b503-526abbb0c8f2" Alias="Start" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Start</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2024-02-15T21:20:04</CreateDate>
    <NodeName Default="Start" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8865c62a-dde9-406e-8e43-d6ff6bd0121c">Startsida</Template>
  </Info>
  <Properties>
    <bgColorHero>
      <Value><![CDATA[#000000]]></Value>
    </bgColorHero>
    <blockListSections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d261ce71be3f40c5a706a27d0d4187fa"
      },
      {
        "contentUdi": "umb://element/c13fe2065c37452aa68a13c258a21443"
      },
      {
        "contentUdi": "umb://element/b092e95bdd4c4f228445c7075c995867"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "64ca2a19-5a4d-45d6-b86c-357aa703b9cf",
      "udi": "umb://element/d261ce71be3f40c5a706a27d0d4187fa",
      "textHeading": "Förbundet för lesbiska, homosexuella och bisexuella",
      "rteBody": "",
      "colorBg": "#8d1cb7",
      "textColor": "1"
    },
    {
      "contentTypeKey": "54487ef8-f920-492b-9be2-a068c8b090fe",
      "udi": "umb://element/c13fe2065c37452aa68a13c258a21443",
      "textHeading": "Varför LHB-förbundet?",
      "rteBody": {
        "markup": "<p>LHB-förbundet är en förening för lesbiska, homosexuella och bisexuella. Vi vill värna rätten att organisera oss separat utan att behöva samorganiseras under ett ständigt växande hbtqia-paraply. Vi är en självständig förening men löst knutna till&nbsp;LGB Alliance som del i deras internationella nätverk av vänföreningar.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "imageSingle": [
        {
          "key": "367d0876-9985-4907-b8af-61d7a17d4199",
          "mediaKey": "c4c3f860-8006-4718-800e-3cce60560858",
          "crops": [
            {
              "alias": "standard",
              "label": "standard",
              "coordinates": {
                "x1": 0.4070512820512821,
                "y1": 0.012345679012345652,
                "x2": 0.03739316239316239,
                "y2": 0
              }
            }
          ]
        }
      ],
      "linkBtnAbout": [
        {
          "name": "Om oss",
          "udi": "umb://document/93d326404b8b4f458e83cb0f0b917b1c"
        }
      ],
      "colorBg": "#f2e6fd",
      "textColor": "0",
      "btnStylingToggle": "1"
    },
    {
      "contentTypeKey": "2ea13bf6-be3b-440b-82bb-c5f8599f25f9",
      "udi": "umb://element/b092e95bdd4c4f228445c7075c995867",
      "textHeadingCards": "Se det senaste från oss",
      "blocklistCards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1776d63702c44f4cb7d30eb9b0297781"
            },
            {
              "contentUdi": "umb://element/2e63a66e4e1d4b64a58a1e93dd4554c5"
            },
            {
              "contentUdi": "umb://element/f3e1cd23ad994d2d9c93faba04ee3023"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
            "udi": "umb://element/1776d63702c44f4cb7d30eb9b0297781",
            "textHeading": "",
            "image": [
              {
                "key": "ab6a53b3-6923-432b-8b7b-fffab8be6788",
                "mediaKey": "202113df-c410-4b4a-a5e1-24603d6949a4"
              }
            ],
            "textString": "LHB-förbundet har framfört följande synpunkter till regeringen apropå en hbtqi-strategisk handlingsplan:\n1. Regeringen bör inte inrätta någon hbtqi-strategisk handlingsplan.\n2. Det bör inte finnas några hbtqi-strategiska myndigheter.\n3. Hbtqi-akronymen bör inte användas i myndighetsarbete eller politiska styrdokument.",
            "linkCard": [
              {
                "name": "Remisser",
                "udi": "umb://document/3c94ff6841b540e7b363c94c4954366f"
              }
            ],
            "stringDate": "",
            "textTitle": "Våra remissvar"
          },
          {
            "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
            "udi": "umb://element/2e63a66e4e1d4b64a58a1e93dd4554c5",
            "textHeading": "",
            "image": [
              {
                "key": "adcb457b-452b-4ba9-9aa5-238c9f5c5d20",
                "mediaKey": "c80b25b7-c9c0-4390-bdf8-f332e0bea67a"
              }
            ],
            "textString": "Vi har granskat det stöd om ”Trans, könsidentitet och könsuttryck” Skolverket tagit fram i samarbete med transaktivistforskaren Irina Schmitt. ",
            "linkCard": [
              {
                "name": "LHB Granskar",
                "target": "",
                "udi": "umb://document/a0f1864b8d9642d7a5f5c859a279ddb6"
              }
            ],
            "stringDate": "",
            "textTitle": "Vi granskar"
          },
          {
            "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
            "udi": "umb://element/f3e1cd23ad994d2d9c93faba04ee3023",
            "textHeading": "",
            "image": [
              {
                "key": "a1722fc4-3b2f-4d47-998d-35024d20848e",
                "mediaKey": "1e6bed07-df06-40d7-a8e4-eff22e3bbb57"
              }
            ],
            "textString": "\"I de tidiga tonåren var jag något av en pojkflicka, som kände ett starkt främlingskap inför andra tjejer i sin ålder och som hellre sällade sig till grabbarna. Under stark påverkan av några av mina lärare kom jag hastigt och lustigt till insikt om att jag var trans, och identifierade mig under en period som \"genderfluid intersektionell queerfeminist\". ",
            "linkCard": [
              {
                "name": "Vilka är vi?",
                "target": "",
                "udi": "umb://document/5ddeb931103346859c318b511b4b996b"
              }
            ],
            "stringDate": "",
            "textTitle": "Medlemmar berättar"
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </blockListSections>
    <imageHero>
      <Value><![CDATA[[]]]></Value>
    </imageHero>
    <imageLogo>
      <Value><![CDATA[[
  {
    "key": "3dc750cc-3aeb-463a-972f-113fb26896b3",
    "mediaKey": "124ca329-f4ce-4dfe-bbfc-c0a4f73e9343"
  }
]]]></Value>
    </imageLogo>
    <linkBtn>
      <Value><![CDATA[[
  {
    "name": "Bli medlem",
    "udi": "umb://document/3ef44bd70c4540b58a796680cf137233"
  }
]]]></Value>
    </linkBtn>
  </Properties>
</Content>