<?xml version="1.0" encoding="utf-8"?>
<Content Key="af7f8f01-585e-4fd9-9e56-07590ac175d0" Alias="Tove/Linns - test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ToveLinnsTest</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2024-04-27T01:33:32</CreateDate>
    <NodeName Default="Tove/Linns - test" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8865c62a-dde9-406e-8e43-d6ff6bd0121c">Startsida</Template>
  </Info>
  <Properties>
    <bgColorHero>
      <Value><![CDATA[#000000]]></Value>
    </bgColorHero>
    <blockListSections>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/58f2765c9b7e4602a74b3262901b40e8"
      },
      {
        "contentUdi": "umb://element/2cfcb8c4a91b42c5813a95753e91914a"
      },
      {
        "contentUdi": "umb://element/5320a3932c034906a0a69af7df8fffc5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2ea13bf6-be3b-440b-82bb-c5f8599f25f9",
      "udi": "umb://element/5320a3932c034906a0a69af7df8fffc5",
      "textHeadingCards": "",
      "blocklistCards": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1e96483b4e974b47b583a5141d7fb192"
            },
            {
              "contentUdi": "umb://element/6102442b5e444106ae50e85292db404e"
            },
            {
              "contentUdi": "umb://element/03ade48e828f403bb01ff5b5f77b3ed6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
            "udi": "umb://element/1e96483b4e974b47b583a5141d7fb192",
            "textHeading": "Remissvar",
            "image": [
              {
                "key": "b68b9c17-6eaf-41af-ba46-3e1c702117b0",
                "mediaKey": "eec966fa-517a-46e2-aed8-aaed40c96557"
              }
            ],
            "textString": "LHB-förbundet tillstyrker slutsatserna i utredningen om förbud mot omvändelseförsök. ",
            "linkCard": [
              {
                "name": "Verksamhet",
                "udi": "umb://document/a67c5a31454d43d49cc3051f0b031d90"
              }
            ],
            "stringDate": ""
          },
          {
            "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
            "udi": "umb://element/6102442b5e444106ae50e85292db404e",
            "textHeading": "LHB-förbundet granskar",
            "image": [
              {
                "key": "e8838b0b-ead3-4097-ba1a-765b808db15d",
                "mediaKey": "d4be7ff1-312e-4288-b1c8-60145b1aee0f"
              }
            ],
            "textString": "Vi har granskat det stöd om \"Trans, könsidentitet och könsuttryck\" som Skolverket har publicerat på sin hemsida.",
            "linkCard": [
              {
                "name": "LHB Granskar",
                "target": "",
                "udi": "umb://document/ebf53960a5a54aecaea789beb9108091"
              }
            ],
            "stringDate": ""
          },
          {
            "contentTypeKey": "8ff93b73-b410-48be-a11e-8c6fe498d20b",
            "udi": "umb://element/03ade48e828f403bb01ff5b5f77b3ed6",
            "textHeading": "Medlemmar berättar",
            "image": [
              {
                "key": "898488dd-5642-4ae4-be6b-535badfebac5",
                "mediaKey": "5eba72dc-07da-4702-b68d-6a8d36cde6cc"
              }
            ],
            "textString": "\"I de tidiga tonåren var jag något av en pojkflicka, som kände ett starkt främlingskap inför andra tjejer i sin ålder och som hellre sällade sig till grabbarna. Under stark påverkan av några av mina lärare...\"",
            "linkCard": [
              {
                "name": "Vilka är vi?",
                "target": "",
                "udi": "umb://document/ad098d49a1bb48cf987f19bac4b700ba"
              }
            ],
            "stringDate": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "54487ef8-f920-492b-9be2-a068c8b090fe",
      "udi": "umb://element/2cfcb8c4a91b42c5813a95753e91914a",
      "textHeading": "Varför LHB-förbundet?",
      "rteBody": {
        "markup": "<p>LHB-förbundet är en förening för lesbiska, homosexuella och bisexuella. Vi vill värna rätten att organisera oss separat utan att behöva samorganiseras under ett ständigt växande hbtqia-paraply. Vi är en självständig förening men löst knutna till&nbsp;LGB Alliance som del i deras internationella nätverk av vänföreningar.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "imageSingle": [
        {
          "key": "afb86a53-3b5d-43b0-be9a-7028d96c3e5b",
          "mediaKey": "5e85344f-919b-45bf-a2fc-50406cc1f27d"
        }
      ],
      "linkBtnAbout": [
        {
          "name": "Mer om föreningen",
          "udi": "umb://document/60c9cc53ca764fea803ab7795340e887"
        }
      ],
      "colorBg": "#ffffff",
      "textColor": "0",
      "btnStylingToggle": "1"
    },
    {
      "contentTypeKey": "64ca2a19-5a4d-45d6-b86c-357aa703b9cf",
      "udi": "umb://element/58f2765c9b7e4602a74b3262901b40e8",
      "textHeading": "",
      "rteBody": {
        "markup": "<h2>Förbundet för lesbiska, homosexuella och bisexuella</h2>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      },
      "colorBg": "#8d1cb7",
      "textColor": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </blockListSections>
    <imageHero>
      <Value><![CDATA[[]]]></Value>
    </imageHero>
    <imageLogo>
      <Value><![CDATA[[
  {
    "key": "7ddcfe1c-ef44-4065-9858-e1fbaf4e5275",
    "mediaKey": "124ca329-f4ce-4dfe-bbfc-c0a4f73e9343"
  }
]]]></Value>
    </imageLogo>
    <linkBtn>
      <Value><![CDATA[[
  {
    "name": "Bli medlem",
    "udi": "umb://document/907e0165a5014e15829b779e1fadcca3"
  }
]]]></Value>
    </linkBtn>
    <themeColor>
      <Value><![CDATA[{
  "value": "8d1cb7",
  "label": "lila",
  "sortOrder": 7,
  "id": "10"
}]]></Value>
    </themeColor>
  </Properties>
</Content>