:root {
  // --bs-navbar-color: purple;
  // --purple: #43135f;
  // --dark-purple: #221726;
  // --light-purple: #553198;
  // --violet: #503c73;
  // --blue: #1e1b37;
  --red: #990000;
  --orange: #b45f06;
  --yellow: #bf9000;
  --green: #38761d;
  --greenblue: #134f5c;
  --blue: #0b5394;
  --purple: #711082;
  --redpurple: #741b47;
}

main {
  min-height: calc(100vh - 365px);
  background-color: #fff;
}

.section {
  padding: 50px 0;
}

.section .section {
  padding: 30px 0;
}

/* ---------- STYLE FOR GRID EDITOR ---------- */

.grid-section .img-fluid img {
  max-width: 100%;
  height: auto;
}
