:root {
  --red: #e40303;
  --orange: #e88400;
  --yellow: #f4c708;
  --green: #008026;
  --greenblue: #134f5c;
  --blue: #074cd6;
  --purple: #8d1cb7;
  --redpurple: #741b47;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  // min-height: calc(100vh - 365px);
  background-color: #fff;
}

h1 {
  font-size: 28px !important;
  font-weight: 600 !important;
  margin-bottom: 20px;
  @media (max-width: 576px) {
    font-size: 24px !important;
  }
}

h2 {
  font-size: 26px !important;
  font-weight: 600 !important;
  @media (max-width: 576px) {
    font-size: 24px !important;
  }
}

h3 {
  font-size: 24px !important;
  font-weight: 600 !important;
  @media (max-width: 576px) {
    font-size: 22px !important;
  }
}

.section {
  padding: 50px 0;
}

.section .section {
  padding: 30px 0;
}

.hidden {
  display: none;
}
/* ---------- STYLE FOR GRID EDITOR ---------- */

.grid-section .img-fluid img {
  max-width: 100%;
  height: auto;
}

.secondary-hero-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  margin-bottom: 40px;
  margin-top: -40px;

  @media screen and (max-width: 576px) {
    margin-bottom: 15px;
    margin-top: -20px;
  }
}

.hero-float {
  margin-left: 25px;
  margin-bottom: 25px;

  @media (min-width: 576px) {
    max-width: 400px;
  }
}
