.rte {
  img {
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }

  p:last-child {
    margin-bottom: 10px;
  }

  .btn-inverted,
  .btn-primary {
    margin-right: 16px;
    margin-bottom: 16px;
  }
  p {
    hyphens: auto;
  }
}
