@using Umbraco.Cms.Core.Models.Blocks;
@inherits UmbracoViewPage<BlockListItem>

@{
    var component = (BlockJumbotron)Model.Content;
    var textColor = component.TextColor ? "text-white" : "text-black";
}


<div class="jumbotron text-center jumbotron-fluid @textColor" style="background-color: @component.ColorBg">
    <div class="container py-4">
        @if (!string.IsNullOrWhiteSpace(component.TextHeading))
        {
            <h2 class="display-6 bg-blue">@component.TextHeading</h2>
        }

        @if (component.RteBody != null && !string.IsNullOrWhiteSpace(component.RteBody.ToString()))
        {
            <div>@component.RteBody</div>
        }
    </div>
</div>